apiVersion: dapr.io/v1alpha1
kind: Component
metadata:
  name: kubernetes-secret-store
  namespace: todo
spec:
  type: secretstores.kubernetes
  version: v1
  metadata:
  - name: namespace
    value: todo